
#nav-demo-4  .sch-title {
    margin-bottom: 50px;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
	font-family: 'Pacifico', cursive;
}

#nav-demo-4 .sch-style-light {
    margin-bottom: 50px;
    background: #fff;
}

#nav-demo-4 .sch-style-light .sch-title {
	color:#222;
}

#nav-demo-4 .sch-style-dark {
    margin-bottom: 50px;
    padding: 50px 0;
    background: #222;
}

#nav-demo-4 .sch-style-dark .sch-title {
	color:#fff;
}

#nav-demo-4 .sch-our-team-full{
    background: #2980b9;
	font-family: 'Open Sans', sans-serif;
}

#nav-demo-4 .sch-img .sch-name {
    padding: 15px;
    text-align: center;
    color: #fff;
    width: 100%;
	background: #2b668f;
	font-weight: bold;
	font-size:20px;
}

#nav-demo-4 .sch-img {
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    position: relative;
    width: 100%;
}

#nav-demo-4 .sch-img img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 10px;
    object-fit: cover;
}

#nav-demo-4 .sch-img .sch-job {
    color: #fff;
    text-align: center;
    padding: 5px 0;
    position: absolute;
    bottom: 0px;
    margin: 0 auto;
    display: inline-block;
    width: 70%;
    background: #1f608a;
	left:0;
	right:0;
	z-index:2;
}

#nav-demo-4 .sch-info {
    padding: 20px;
    font-size: 16px;
    color: #fff;
}

#nav-demo-4 .sch-mail-tel {
    display: inline-block;
    margin-bottom: 30px;
}

#nav-demo-4 .sch-mail-tel a {
    color: #fff;
    margin-bottom: 10px;
    display: inline-block;
    padding: 0 20px;
    font-size: 16px;
}

#nav-demo-4 .sch-mail-tel a:last-child {
    margin-bottom: 0px;
}

#nav-demo-4 .sch-mail-tel a i{
    margin-right: 10px;
}

#nav-demo-4 .sch-style-carousel .owl-nav {
    display: none;
}

#nav-demo-4 .sch-style-carousel .owl-dots {
    text-align: center;
	margin-top: 30px;
}

#nav-demo-4 .sch-style-carousel .owl-theme .owl-dots .owl-dot.active span,
#nav-demo-4 .sch-style-carousel .owl-theme .owl-dots .owl-dot:hover span {
    background: #2980b9;
    border-color: #fff;
    opacity: 1;
}
#nav-demo-4 .sch-style-carousel .owl-theme .owl-dots .owl-dot span {
    width: 32px;
    height: 10px;
    margin: 5px 7px;
    background: #fff;
    border: 2px solid #2980b9;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}
#nav-demo-4 .owl-carousel .owl-item {
    padding: 10px;
}

#nav-demo-4 .sch-social {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: auto;
	margin-right: auto;
    margin-bottom: 0px;
    margin-top: 10px;
    line-height: 200px;
    background: #fff;
    position: absolute;
    left: 0;
    right: 0;
}

#nav-demo-4 .sch-our-team .sch-social i {
    color: #fff;
    cursor: pointer;
    background: #2b668f;
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    border-radius: 50%;
    font-size: 14px;
    margin-bottom: 10px;
	border:1px solid transparent;
}

#nav-demo-4 .sch-images:hover .sch-social{
	z-index:1;
}

#nav-demo-4 .sch-images:hover .sch-box-overlay {
    z-index: 0;
}
#nav-demo-4 .sch-our-team .sch-social i:hover{
    border:1px dotted #2b668f;
	color: #2b668f;
	background: transparent;
}

#nav-demo-4 .sch-box-overlay {
    z-index: 1;
	position: relative;
}

#nav-demo-4 .sch-box-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
    z-index: 0;
}

@media (min-width:980px) and (max-width:1023px){
	#nav-demo-4 .sch-img img {
		width: 150px;
		height: 150px;
	}
	#nav-demo-4 .sch-info,#nav-demo-4 .sch-mail-tel a {
		font-size: 14px;
	}
	#nav-demo-4 .sch-social {
		width: 150px;
		height: 150px;
		line-height: 150px;
	}
}
@media (min-width:768px) and (max-width:979px){
	#nav-demo-4 .sch-social {
		width: 150px;
		height: 150px;
		margin-top: 0px;
		line-height: 150px;
	}
	#nav-demo-4 .sch-img img {
		width: 150px;
		height: 150px;
	}
	#nav-demo-4 .sch-info,#nav-demo-4 .sch-mail-tel a,#nav-demo-4 .sch-img .sch-job{
		font-size: 14px;
	}
	#nav-demo-4 .sch-img .sch-name {
		font-size: 16px;
	}
	#nav-demo-4 .sch-mail-tel a {
		padding: 0 10px;
	}
	#nav-demo-4 .sch-info {
		padding: 20px 10px;
	}
}
@media (min-width:578px) and (max-width:767px){
	#nav-demo-4 .col-md-3 {
        margin-bottom: 30px;
    }
	#nav-demo-4 .col-md-3:nth-child(3) {
        margin-bottom: 0px;
    }
	#nav-demo-4 .col-md-3:nth-child(4) {
        margin-bottom: 0px;
    }
}
@media only screen and (max-width:577px){
	#nav-demo-4 .col-md-3 {
        margin-bottom: 30px;
    }
	#nav-demo-4 .col-md-3:last-child {
        margin-bottom: 0px;
    }
}