#nav-demo-3  .sch-title {
    margin-bottom: 50px;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
	font-family: 'Pacifico', cursive;
}
#nav-demo-3 .sch-style-light {
    margin-bottom: 50px;
    background: #fff;
}
#nav-demo-3 .sch-style-light .sch-title {
	color:#222;
}

#nav-demo-3 .sch-style-dark {
    margin-bottom: 50px;
    padding: 50px 0;
    background: #222;
}
#nav-demo-3 .sch-style-dark .sch-title {
	color:#fff;
}
/*style 3*/

#nav-demo-3 .sch-img-social {
    position: relative;
}

#nav-demo-3 .sch-img-social .sch-img img {
    width: 100%;
    height: 300px;
    object-fit: cover;
	-webkit-box-shadow: 5px 5px 5px #111;
	box-shadow: 5px 5px 5px #111;
}

#nav-demo-3 .sch-job {
    position: absolute;
    top: -2px;
    right: -10px;
    background-color: #a95586;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

#nav-demo-3 .sch-job:after {
    position: absolute;
    top: 100%;
    right: 0;
    width: 0;
    height: 0;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #a95586;
    content: '';
}

#nav-demo-3 .sch-name {
    background-color: #a95586;
    padding: 10px;
    color: #fff;
    text-align: center;
    position: absolute;
    width: 105%;
    left: -10px;
    bottom: -1px;
    font-weight: bold;
    font-size: 18px;
}

#nav-demo-3 .sch-name::after {
    position: absolute;
    top: -10px;
    left: 0;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 10px solid #a95586;
    content: '';
}

#nav-demo-3 .sch-info {
    margin-top: 30px;
}

#nav-demo-3 .sch-info .sch-shape {
    text-align: center;
}

#nav-demo-3 .sch-description {
    line-height: normal;
    font-size: 16px;
    text-align: center;
	margin-top:30px;
}

#nav-demo-3 .sch-info .sch-social {
    display: inline-block;
	margin: 0 auto;
}

#nav-demo-3 .sch-info .sch-social a {
    color: #fff;
    margin-right: 5px;
    position: relative;
}

#nav-demo-3 .sch-info .sch-social a i {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .4);
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #a95586;
	background:#fff;
	transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
}

#nav-demo-3 .sch-info .sch-social a i:hover {

    background-color: #a95586;
    transform: rotate(45deg);
    cursor: pointer;
    box-shadow: none;
    color: #fff;

}

#nav-demo-3 .sch-info .sch-social a i:hover {
    background: fff;
}

#nav-demo-3 .sch-style-carousel .owl-nav {
    display: none;
}

#nav-demo-3 .sch-style-carousel .owl-dots {
    text-align: center;
	margin-top: 30px;
}

#nav-demo-3 .sch-style-carousel .owl-theme .owl-dots .owl-dot.active span,
#nav-demo-3 .sch-style-carousel .owl-theme .owl-dots .owl-dot:hover span {
    background: #a95586;
    border-color: #fff;
    opacity: 1;
}
#nav-demo-3 .sch-style-carousel .owl-theme .owl-dots .owl-dot span {
    width: 32px;
    height: 10px;
    margin: 5px 7px;
    background: #fff;
    border: 2px solid #a95586;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}
#nav-demo-3 .owl-carousel .owl-item {
    padding: 10px;
}

#nav-demo-3 .sch-style-light .sch-description{
	color:#222;
}

#nav-demo-3 .sch-style-dark .sch-description{
	color:#fff;
}
#nav-demo-3 .sch-our-team:hover .sch-img-social{
	transform: rotate(5deg);
}
@media (min-width:768px) and (max-width:979px) {   
	#nav-demo-3 .sch-info .sch-social a i {
		width: 30px;
		height: 30px;
		line-height: 30px;
	}
	#nav-demo-3 .sch-img-social .sch-img img {
		height: 220px;
	}
	#nav-demo-3 .sch-name {
		font-size: 16px;
	}
	#nav-demo-3 .sch-description {
		font-size: 14px;
	}
}
@media (min-width:578px) and (max-width:767px){
	#nav-demo-3 .col-md-3 {
        margin-bottom: 30px;
    }
	#nav-demo-3 .col-md-3:nth-child(3) {
        margin-bottom: 0px;
    }
	#nav-demo-3 .col-md-3:nth-child(4) {
        margin-bottom: 0px;
    }
}
@media only screen and (max-width:577px){
	#nav-demo-3 .col-md-3 {
        margin-bottom: 30px;
    }
	#nav-demo-3 .col-md-3:last-child {
        margin-bottom: 0px;
    }
}


